body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-track {
   background: rgba(22, 22, 22, 1);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.loadingOut {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 1s, opacity 1s, visibility 1s linear;
}

.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.slide[data-state=active] {
  display: block;
}


